page{
	display: block;
	width:100%;
	height:100%;
}


section{
width: 100%;
display: block;
}

page > section:first-child{
width: 100%;
height: 30%;
background-color: red;
}

page > section:nth-child(2){
width: 100%;
height: 30%;
background-color: blue;
}

page > section:nth-child(3){
width: 100%;
height: 30%;
background-color: green;
}

page > section:nth-child(4){
width: 100%;
height: 10%;
background-color: #B22222;
} 


section > identite{
width: 80%;
height: 33.33%;
margin-left: 200px;
background-color:#2D2D2D ;
float: right;
display: block;
color: white;
font-family: 
font-size: 20px;
letter-spacing: 1px;
}

section > competence{
width: 80%;
height: 33.33%;
margin-left: 200px;
background-color: #413F3B;
float: right;
display: block;
}

section > formation{
width: 80%;
height: 33.33%;
margin-left: 200px;
background-color: #676663;
float: right;
display: block;
}

section > custom{
width: 70%;
height: 100%;
background-color:white ;
display: block;
float: left;
}

section > contact{
width: 30%;
height: 100%;
background-color:#C0C0C0 ;
display: block;
float: right;
}

section > experience{
width: 100%;
height: 100%;
display: block;
background-color: #D2B48C;
}

section > hobbie{
width: 100%;
height: 100%;
display: block;
background-color: #FFE4E1;
}

/*identite{
margin: auto;
font-size: 20px;
color: white;
font-family:sans-serif;
}*/

competence{
font-size: 20px;
color: 
}

formation{

}



